<mat-toolbar class="app-toolbar" color="primary"  fxLayout="row" fxLayoutAlign="start center">
  <h2>
    <i class="fas fa-eye fa-fw"></i>
    EyeBaller
  </h2>

  <span fxFlex></span>

  <button mat-raised-button  (click)="restart()">
    <i class="fas fa-fw fa-undo"></i>
    Restart
  </button>

</mat-toolbar>

<!-- Model Loading Progress -->
<div *ngIf="!tfFilesCompleted">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>

<!-- Drop Zone -->
<div *ngIf="tfFilesCompleted && !eyeballing && !eyeballCompleted">
  <mat-card>

    <button mat-raised-button (click)="startEyeball()">
      Start
    </button>

    <br />
    <br />

    <ngx-dropzone (change)="onSelect($event)">
      <ngx-dropzone-label>
        Drop Files
      </ngx-dropzone-label>
      <ngx-dropzone-image-preview *ngFor="let f of imageFiles" [file]="f" [removable]="true" (removed)="onRemove(f)">
        <ngx-dropzone-label>
          {{ f.name }} ({{ f.type }})
        </ngx-dropzone-label>
      </ngx-dropzone-image-preview>
    </ngx-dropzone>
  </mat-card>
</div>

<!-- Progress Bar -->
<div *ngIf="tfFilesCompleted && eyeballing && !eyeballCompleted">
  <mat-card>
    <h3>{{eyeballedCount}} of {{this.images.size}}</h3>
    <mat-progress-bar mode="determinate" [value]="eyeballPercent()"></mat-progress-bar>
  </mat-card>
</div>

<!-- Results -->
<div *ngIf="tfFilesCompleted && !eyeballing && eyeballCompleted">
  <div class="results-container">

    <h2>Results</h2>
    <div>
      <input id="webappCheckBox" type="checkbox" [checked]="selected.webapp" (change)="selected.webapp = !selected.webapp"/>
      <label for="webappCheckBox">Webapp</label>
      <label class="label-count" id="webappCount">{{ classifications.webapp.length }}</label>
    </div>
    <div>
      <input id="oldLookingCheckBox" type="checkbox" [checked]="selected.oldLooking" (change)="selected.oldLooking = !selected.oldLooking"/>
      <label for="oldLookingCheckBox">Old Looking</label>
      <label class="label-count" id="webappCount">{{ classifications.oldLooking.length }}</label>
    </div>
    <div>
      <input id="loginCheckBox" type="checkbox" [checked]="selected.loginPage" (change)="selected.loginPage = !selected.loginPage"/>
      <label for="loginCheckBox">Login Page</label>
      <label class="label-count" id="webappCount">{{ classifications.loginPage.length }}</label>
    </div>
    <div>
      <input id="custom404CheckBox" type="checkbox" [checked]="selected.custom404" (change)="selected.custom404 = !selected.custom404"/>
      <label for="custom404CheckBox">Custom 404</label>
      <label class="label-count" id="webappCount">{{ classifications.custom404.length }}</label>
    </div>
    <div>
      <input id="parkedCheckBox" type="checkbox" [checked]="selected.parked" (change)="selected.parked = !selected.parked"/>
      <label for="parkedCheckBox">Parked Domain</label>
      <label class="label-count" id="webappCount">{{ classifications.parked.length }}</label>
    </div>

    <button mat-raised-button (click)="exportResults()">
      Export
    </button>

    <div class="eyeballed-class-container">

      <div *ngFor="let key of classifications.loginPage; let index = index" [attr.data-index]="index">
        <mat-card class="result-card">
          <mat-card-header>
            <mat-card-title>
              <span matBadge="{{ index + 1 }}" matBadgeOverlap="false" matBadgePosition="above before" matBadgeColor="primary">
                {{ key }}
              </span>
            </mat-card-title>
            <mat-card-subtitle class="monospace">
              {{ key }}
            </mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image [attr.src]="dataURIs.get(key)">
          <div>
            <i class="fa fa-fw fa-2x fa-search"></i>
          </div>
        </mat-card>
      </div>
    </div>
  </div>

</div>
